@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300&display=swap');

  
body, html {
    background: #333;
    padding: 0;
    margin: 0 auto;
  }

.page1 {
    background-image: url(./pcbg.png);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.page4 {
    background-image: url(./pcbg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.page2 {
    background-image: url(./cfbg.jpg);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.page3 {
    /* background-image: url(./cfbg.jpg); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
    background: #f4f1ec;
}

.pageOrder {
    background-image: url(./pcbg.png);
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    background-color: transparent;
    margin: 0;
    padding: 3%;
    justify-content: space-between;
    /* background: red; */
}


.intropage {
    overflow: hidden;
    margin: 0;
    padding: 3%;
    justify-content: space-between;
    background: white;
    position: relative;
    top: 40%;
}

.content {
    position: relative;
    left: 15%;
}



.menu {
    color: whitesmoke;
    font-size: 23.58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    border-radius: 4.53px;
    border-color: #2C402F;
    border-width: 3px;
    text-decoration: none;
    background-color: #d94d1a;
    padding: 10px 60px 10px 60px;
    cursor: pointer;
    z-index: 1;
}

.menu:hover span {
    display: none;
}

.menu:hover:after {
    content: "Shop!";
}

.arrow {
    position: absolute;
    top: -70px;
    left: 110px;
    /* z-index: 0; */
}

.menu:hover {
    background-color: #f14202;
}

.subPhone {
    display: none;
}

.cup {
    position: absolute;
    right: 220px;
    bottom: -80px;
    z-index: 1;
    width: 285px;
    height: 363px;
    
}

.cup:hover {
    scale: 150%;
}


.order {
    color: #898989;
    font-size: 38.08px;
    font-style: italic; 
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}


.nav {
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-color: transparent;
}

.nav2 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-color: transparent;
}

.nav3 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-color: transparent;
}

.nav3 a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #7b3311;
    font-weight: 500;
    font-size: x-large;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.nav3 li {
    list-style-type: none;
}

.nav li {
    list-style-type: none;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: x-large;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}


.nav li a:hover {
    background-color: #16332C;
}

.nav3 li a:hover {
    background-color: #7b3311;
    color: whitesmoke;
}

.nav3 a:hover:after {
    font-size: 100px;
    display: block;
    position: absolute;
    width: calc(100% - 2 * 30px);
    height: 5px;
    background-color: whitesmoke;
    content: "";
}

.nav a:hover:after {
    font-size: 100px;
    display: block;
    position: absolute;
    width: calc(100% - 2 * 30px);
    height: 5px;
    background-color: white;
    content: "";
}


.logo img {
    position: absolute;
    left: 50px;
    border-radius: 2rem;
}

.logo1 img {
    position: absolute;
    left: 50px;
    border-radius: 2rem;
}

.logo2 img {
    position: absolute;
    left: 50px;
    border-radius: 2rem;
}


.text img {
    position: absolute;
    top: 50%;
    left: 15%;

    /* background: black; */
    border-radius: 2rem;
}


.menuContain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    color: whitesmoke;
}

.menuContain3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    color: #7b3311;
}

.menuContain4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    color: whitesmoke;
}

.menuText {
    padding-left: 40px;
    padding-right: 40px;
}

.orderText {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Solway';
    color: #7b3311;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderTextP {
    display: none;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Solway';
    color: #7b3311;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subText {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Poppins';
    color: #7b3311;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.sub1 {
    color: whitesmoke;
    background: #7b3311;
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    top: 100px;
    font-family: 'Sans serif';
    font-size: 25px;
    /* display: none; */
}

.sub1:hover span {
    display: none;
}

.sub1:hover {
    padding: 25px;
    position: relative;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Sans serif';
    background: whitesmoke;
    color: #7b3311;
}

.sub1:hover:after {
    content: "Click here!";
}

.orderContain {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.subContain1 {
    /* background: red; */
    display: flex;

    align-content: center;
    justify-content: center;
    position: relative;
}

.line {
    width: 300px;
    height: 4px;
    background-color: whitesmoke;
}

.line3 {
    width: 300px;
    height: 4px;
    background-color: #7b3311;
}

.products {
    position: absolute;
    right: 50%;
}

.arrows2 {
    position: absolute;
    left: 65%;
}

.product {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Solway';
    font-size: 28px;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    right: 5rem;
}

.product:hover {
    font-weight: 500;
    color: #000c34;
    background: #dca949;
    border-radius: 30px;
}

.arrows {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Solway';
    font-size: 28px;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    left: 1rem;
}

.arrows:hover {
    font-weight: 1000;
    color: #000c34;
    /* background: #dca949; */
    /* border-radius: 30px; */
}

.blended {
    justify-items: center;
    align-items: center;
    display: grid;
    padding: 0 2rem;
}

.choco {
    width: 291px;
    height: 291px;
}

/* .logo3 {
    position: relative;
} */

.logo3 img {
    position: absolute;
    right: 50%;
    border-radius: 2rem;
    width: 400px;
    height: 400px;
}

.members {
    /* background: red; */
    display: inline-block;
    position: relative;
    top: 60px;
    left: 53%;
}

.logo3 p {
    width: 100%;
    color: whitesmoke;
    font-family: 'Solway';
    font-size: 25px;
    /* display: none; */
}

.blendedP {
    width: 300px;
    height: 300px;
}

.column1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    /* margin: 5rem auto; */
    /* padding-left: 20px; */
    gap: 20px;
    position: relative;
    left: 20%;
}

.column1 img {
    padding-left: 50px;
    padding-right: 50px;
}

.row1::after {
    content: "";
    clear: both;
    display: table;
}

.foot {
    background: white;
    display: none;
}


@media screen and (max-width: 900px) {
    .page1 {
        background-image: url(./mobile.png);
        display: block;
        height: 100vh;
        width: auto;
    }

    .header {
        display: none;
    }

    .text img {
        position: relative;
        bottom: -15rem;
        width: 220px;
        height: 140px;
        /* background: black; */
    }


    .logo img {
        position: absolute;
        left: 21%;
        top: 10%;
        width: 198px;
        height: 187px;
    }

    .cup {
        display: none;
    }

    .order {
        position: absolute;
        top: -30px;
        left: -17px;
        /* background: red; */
    }

    .menu {
        width: 183px;
        height: 65px;
        position: absolute;
        left: -20px;
        top: 50px;
        
    }

    .intropage {
        position: absolute;
        width: 100%;
        height: 20%;
        top: 60%;
        margin: 0px;
        padding: 0px;
    }

    .arrow {
        position: absolute;
        top: -90px;
        left: 75px;
    }


}

@media(max-width: 900px) {
    .page2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(cfbg.jpg);
        display: block;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    .logo2 img {
        display: none
    }


    .menuContain {
        font-size: 20px;
        margin: 0;
        font-family: 'Solway';
        /* display: none; */
    }

    .line {
        width: 100px;
        height: 2px;
        background-color: whitesmoke;
        /* display: none; */
    }

    .products {
        position: absolute;
        top: 50px;
        right: 8%;
        /* display: none; */
    }

    .product {
        /* display: none; */
        font-size: 25px;
        font-family: 'Sans serif';
        font-weight: 400;
        color: whitesmoke;
    }

    .arrows {
        display: none;
    }
    .arrows2 {
        display: none;
    }

    .foot {
        background: white;
        display: block;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 65px;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }

    .footerHome {
        position: absolute;
        width: 40px;
        height: 40px;
        padding-left: 65px;
        margin: 0;
        top: -2px;
        left: -40px;
        /* display: none; */
    }

    .footerMenu {
        position: absolute;
        width: 40px;
        height: 40px;
        /* padding-left: 65px; */
        margin: 0;
        top: -2px;
        left: 140px;
        /* display: none; */
    }

    .footerAbout {
        position: absolute;
        width: 40px;
        height: 40px;
        /* padding-left: 65px; */
        margin: 0;
        top: 1px;
        right: 30px;
        /* display: none; */
    }

    .homeFoot {
        position: absolute;
        top: 23px;
        left: 26px;
        /* display: none; */
    }
    
    .menuFoot {
        position: absolute;
        top: 23px;
        left: 140px;
        /* display: none; */
    }

    .aboutFoot {
        position: absolute;
        top: 23px;
        right: 20px;
        /* display: none; */
    }

    .subPhone {
        display: block;
    }

    .subPhone h1 {
        display: none;
    }

    .subContain {
        position: relative;
        bottom: -320px;
        /* padding-right: 5rem; */
        /* display: none; */
    }

    .subContain .sub1 {
        /* display: none; */
        position: relative;
        left: 70px;
    }

    .subText {
        display: none;
    }

    .subContain1 {
        display: none;
    }

    .orderText {
        display: none;
        /* content: 'Hello'; */
    }

    .orderTextP {
        display: block;
        position: relative;
        bottom: -230px;
        padding-right: 47px;
    }

}

@media screen and (max-width: 900px) {
    .page4 {
        background-image: url(./mobile.png);
        height: 100vh;
        width: auto;
    }

    .logo1 img {
        display: none;
    }

    .logo3 img{
        /* display: none; */
        position: absolute;
        left: 20%;
        width: 200px;
        height: 200px;
    }


    .members {
        display: inline-block;
        position: relative;
        top: 200px;
        left: 22%;
    }

    .logo3 p {
        width: 100%;
        color: whitesmoke;
        font-family: 'Solway';
        font-size: 15px;
        text-align: center;
    }


    .menuContain4 {
        padding-top: 30px;
        font-size: 16px;
        /* display: none; */
        margin: 0;
        font-family: 'Solway';
    }

    .line {
        width: 60px;
        height: 2px;
        background-color: whitesmoke;
        margin: 10px;
    }

    .menuText {
        padding-left: 10px;
        padding-right: 10px;
        /* display: none; */
    }
}
